{% extends "base.html" %}

{% block header %}

{% block title %}Top 30 Jobs{% endblock %}

{% endblock %}

{% block content %}
<div>
  <h2 style="text-align:center; text-decoration: underline">Without Headers</h2>
</div>

<div class="container">
    <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">{{ job.0[0] }}</th>
            <td>{{ job.0[1] }}</td>
            <td>{{ job.0[2] }}</td>
            <td>{{ job.0[3] }}</td>
            <td>{{ job.0[4] }}</td>
            <td>{{ job.0[5] }}</td>
            <td>{{ job.0[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.1[0] }}</th>
            <td>{{ job.1[1] }}</td>
            <td>{{ job.1[2] }}</td>
            <td>{{ job.1[3] }}</td>
            <td>{{ job.1[4] }}</td>
            <td>{{ job.1[5] }}</td>
            <td>{{ job.1[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.2[0] }}</th>
            <td>{{ job.2[1] }}</td>
            <td>{{ job.2[2] }}</td>
            <td>{{ job.2[3] }}</td>
            <td>{{ job.2[4] }}</td>
            <td>{{ job.2[5] }}</td>
            <td>{{ job.2[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.3[0] }}</th>
            <td>{{ job.3[1] }}</td>
            <td>{{ job.3[2] }}</td>
            <td>{{ job.3[3] }}</td>
            <td>{{ job.3[4] }}</td>
            <td>{{ job.3[5] }}</td>
            <td>{{ job.3[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.4[0] }}</th>
            <td>{{ job.4[1] }}</td>
            <td>{{ job.4[2] }}</td>
            <td>{{ job.4[3] }}</td>
            <td>{{ job.4[4] }}</td>
            <td>{{ job.4[5] }}</td>
            <td>{{ job.4[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.5[0] }}</th>
            <td>{{ job.5[1] }}</td>
            <td>{{ job.5[2] }}</td>
            <td>{{ job.5[3] }}</td>
            <td>{{ job.5[4] }}</td>
            <td>{{ job.5[5] }}</td>
            <td>{{ job.5[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.6[0] }}</th>
            <td>{{ job.6[1] }}</td>
            <td>{{ job.6[2] }}</td>
            <td>{{ job.6[3] }}</td>
            <td>{{ job.6[4] }}</td>
            <td>{{ job.6[5] }}</td>
            <td>{{ job.6[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.7[0] }}</th>
            <td>{{ job.7[1] }}</td>
            <td>{{ job.7[2] }}</td>
            <td>{{ job.7[3] }}</td>
            <td>{{ job.7[4] }}</td>
            <td>{{ job.7[5] }}</td>
            <td>{{ job.7[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.8[0] }}</th>
            <td>{{ job.8[1] }}</td>
            <td>{{ job.8[2] }}</td>
            <td>{{ job.8[3] }}</td>
            <td>{{ job.8[4] }}</td>
            <td>{{ job.8[5] }}</td>
            <td>{{ job.8[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.9[0] }}</th>
            <td>{{ job.9[1] }}</td>
            <td>{{ job.9[2] }}</td>
            <td>{{ job.9[3] }}</td>
            <td>{{ job.9[4] }}</td>
            <td>{{ job.9[5] }}</td>
            <td>{{ job.9[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.10[0] }}</th>
            <td>{{ job.10[1] }}</td>
            <td>{{ job.10[2] }}</td>
            <td>{{ job.10[3] }}</td>
            <td>{{ job.10[4] }}</td>
            <td>{{ job.10[5] }}</td>
            <td>{{ job.10[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.11[0] }}</th>
            <td>{{ job.11[1] }}</td>
            <td>{{ job.11[2] }}</td>
            <td>{{ job.11[3] }}</td>
            <td>{{ job.11[4] }}</td>
            <td>{{ job.11[5] }}</td>
            <td>{{ job.11[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.12[0] }}</th>
            <td>{{ job.12[1] }}</td>
            <td>{{ job.12[2] }}</td>
            <td>{{ job.12[3] }}</td>
            <td>{{ job.12[4] }}</td>
            <td>{{ job.12[5] }}</td>
            <td>{{ job.12[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.13[0] }}</th>
            <td>{{ job.13[1] }}</td>
            <td>{{ job.13[2] }}</td>
            <td>{{ job.13[3] }}</td>
            <td>{{ job.13[4] }}</td>
            <td>{{ job.13[5] }}</td>
            <td>{{ job.13[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.14[0] }}</th>
            <td>{{ job.14[1] }}</td>
            <td>{{ job.14[2] }}</td>
            <td>{{ job.14[3] }}</td>
            <td>{{ job.14[4] }}</td>
            <td>{{ job.14[5] }}</td>
            <td>{{ job.14[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.15[0] }}</th>
            <td>{{ job.15[1] }}</td>
            <td>{{ job.15[2] }}</td>
            <td>{{ job.15[3] }}</td>
            <td>{{ job.15[4] }}</td>
            <td>{{ job.15[5] }}</td>
            <td>{{ job.15[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.16[0] }}</th>
            <td>{{ job.16[1] }}</td>
            <td>{{ job.16[2] }}</td>
            <td>{{ job.16[3] }}</td>
            <td>{{ job.16[4] }}</td>
            <td>{{ job.16[5] }}</td>
            <td>{{ job.16[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.17[0] }}</th>
            <td>{{ job.17[1] }}</td>
            <td>{{ job.17[2] }}</td>
            <td>{{ job.17[3] }}</td>
            <td>{{ job.17[4] }}</td>
            <td>{{ job.17[5] }}</td>
            <td>{{ job.17[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.18[0] }}</th>
            <td>{{ job.18[1] }}</td>
            <td>{{ job.18[2] }}</td>
            <td>{{ job.18[3] }}</td>
            <td>{{ job.18[4] }}</td>
            <td>{{ job.18[5] }}</td>
            <td>{{ job.18[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.19[0] }}</th>
            <td>{{ job.19[1] }}</td>
            <td>{{ job.19[2] }}</td>
            <td>{{ job.19[3] }}</td>
            <td>{{ job.19[4] }}</td>
            <td>{{ job.19[5] }}</td>
            <td>{{ job.19[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.20[0] }}</th>
            <td>{{ job.20[1] }}</td>
            <td>{{ job.20[2] }}</td>
            <td>{{ job.20[3] }}</td>
            <td>{{ job.20[4] }}</td>
            <td>{{ job.20[5] }}</td>
            <td>{{ job.20[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.21[0] }}</th>
            <td>{{ job.21[1] }}</td>
            <td>{{ job.21[2] }}</td>
            <td>{{ job.21[3] }}</td>
            <td>{{ job.21[4] }}</td>
            <td>{{ job.21[5] }}</td>
            <td>{{ job.21[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.22[0] }}</th>
            <td>{{ job.22[1] }}</td>
            <td>{{ job.22[2] }}</td>
            <td>{{ job.22[3] }}</td>
            <td>{{ job.22[4] }}</td>
            <td>{{ job.22[5] }}</td>
            <td>{{ job.22[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.23[0] }}</th>
            <td>{{ job.23[1] }}</td>
            <td>{{ job.23[2] }}</td>
            <td>{{ job.23[3] }}</td>
            <td>{{ job.23[4] }}</td>
            <td>{{ job.23[5] }}</td>
            <td>{{ job.23[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.24[0] }}</th>
            <td>{{ job.24[1] }}</td>
            <td>{{ job.24[2] }}</td>
            <td>{{ job.24[3] }}</td>
            <td>{{ job.24[4] }}</td>
            <td>{{ job.24[5] }}</td>
            <td>{{ job.24[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.25[0] }}</th>
            <td>{{ job.25[1] }}</td>
            <td>{{ job.25[2] }}</td>
            <td>{{ job.25[3] }}</td>
            <td>{{ job.25[4] }}</td>
            <td>{{ job.25[5] }}</td>
            <td>{{ job.25[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.26[0] }}</th>
            <td>{{ job.26[1] }}</td>
            <td>{{ job.26[2] }}</td>
            <td>{{ job.26[3] }}</td>
            <td>{{ job.26[4] }}</td>
            <td>{{ job.26[5] }}</td>
            <td>{{ job.26[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.27[0] }}</th>
            <td>{{ job.27[1] }}</td>
            <td>{{ job.27[2] }}</td>
            <td>{{ job.27[3] }}</td>
            <td>{{ job.27[4] }}</td>
            <td>{{ job.27[5] }}</td>
            <td>{{ job.27[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.28[0] }}</th>
            <td>{{ job.28[1] }}</td>
            <td>{{ job.28[2] }}</td>
            <td>{{ job.28[3] }}</td>
            <td>{{ job.28[4] }}</td>
            <td>{{ job.28[5] }}</td>
            <td>{{ job.28[6] }}</td>
          </tr>
          <tr>
            <th scope="row">{{ job.29[0] }}</th>
            <td>{{ job.29[1] }}</td>
            <td>{{ job.29[2] }}</td>
            <td>{{ job.29[3] }}</td>
            <td>{{ job.29[4] }}</td>
            <td>{{ job.29[5] }}</td>
            <td>{{ job.29[6] }}</td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock %}